*.zip
*.pdf
*.doc
*.docx
Submission
estimate/best_model_AB.pth
estimate/best_model_mps.pth
estimate/best_model.pth
estimate/epoch0_preds
estimate/epoch1_preds
estimate/epoch10_preds
estimate/epoch11_preds
estimate/epoch12_preds
estimate/epoch13_preds
estimate/epoch2_preds
estimate/epoch3_preds
estimate/epoch4_preds
estimate/epoch5_preds
estimate/epoch6_preds
estimate/epoch7_preds
estimate/epoch8_preds
estimate/epoch9_preds
estimate/fixed_onebox_preds
estimate/raw_iou_results.csv
estimate/yolo_run6
estimate/yolo_run7
estimate/yolo_run8_test_preds
estimate/yolo_run8_val_preds
estimate/yolo_seg_fixed
estimate/yolo_seg_fixed_val_preds
estimate/yolo_seg_fixed_val_preds 2
estimate/yolo_seg_run1