*.zip
*.pdf
*.doc
*.docx
Submission
experiments/epoch0_preds/
experiments/epoch1_preds/
experiments/epoch10_preds/
experiments/epoch11_preds/
experiments/epoch12_preds/
experiments/epoch13_preds/
experiments/epoch2_preds/
experiments/epoch3_preds/
experiments/epoch4_preds/
experiments/epoch5_preds/
experiments/epoch6_preds/
experiments/epoch7_preds/
experiments/epoch8_preds/
experiments/epoch9_preds/
experiments/fixed_onebox_preds/
experiments/yolo_run6/
experiments/yolo_run7/
experiments/yolo_run8_test_preds/
experiments/yolo_run8_val_preds/
experiments/yolo_seg_fixed/
experiments/yolo_seg_fixed_val_preds/
experiments/yolo_seg_fixed_val_preds 2/
experiments/yolo_seg_run1/